.env
.env.*

venv/
ENV/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class

templates/
uploaded_files/

backend_test.py
blobtest.py
debug_input.txt
products.db
simpEx.py
streamlit.py
test.py
test.txt
text_to_pdf.py
users.json

landing_page/
gitbook_scrap.py
documentation.md